# IntelliJ IDEA project folder
.idea

# Vagrant VM folder
.vagrant

# Logs
log
/npm-debug.log

# Composer dependencies folder
/vendor/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
